@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
margin:0;
padding:0;
text-decoration: none;
}
.navbar-nav {
    flex-direction: row; 
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 10px;
}
a.nav-link.active {
    font-family: "DM Sans",sans-serif;
    font-size: 16px;
    line-height: 1.44em;
    letter-spacing: -.02em;
    justify-content: space-between;
    color: #1d1d1f;
    font-weight: 500;
    padding: 0 30px;
}